In [5]:
import yfinance as yf

# Fetching data for a specific stock (e.g., Apple)
ticker = 'AAPL'
data = yf.download(ticker, period='1d', interval='1m')  # 1-day data with 1-minute interval

[*********************100%***********************]  1 of 1 completed

In [6]:
df = pd.DataFrame(data)
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-10-04 09:30:00-04:00,227.889999,228.000000,227.335007,227.595001,227.595001,1156315
2024-10-04 09:31:00-04:00,227.619995,227.789993,227.480896,227.539993,227.539993,214003
2024-10-04 09:32:00-04:00,227.544403,227.544403,227.020004,227.179993,227.179993,167601
2024-10-04 09:33:00-04:00,227.199997,227.250000,227.100006,227.119995,227.119995,141216
2024-10-04 09:34:00-04:00,227.115005,227.199997,226.809998,227.039993,227.039993,182831
...,...,...,...,...,...,...
2024-10-04 15:55:00-04:00,226.529999,226.949997,226.520004,226.853500,226.853500,492501
2024-10-04 15:56:00-04:00,226.860001,226.865005,226.702194,226.735001,226.735001,217438
2024-10-04 15:57:00-04:00,226.735001,226.979996,226.735001,226.934998,226.934998,291738
2024-10-04 15:58:00-04:00,226.940002,226.949997,226.789993,226.860001,226.860001,375342
2024-10-04 15:59:00-04:00,226.869995,226.899994,226.470001,226.779999,226.779999,1242909

In [8]:
import pandas as pd

# Filtering for rows where the 'Close' price is above $150
filtered_data = data[data['Close'] > 150]

In [9]:
df1=pd.DataFrame(filtered_data)
df1

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-10-04 09:30:00-04:00,227.889999,228.000000,227.335007,227.595001,227.595001,1156315
2024-10-04 09:31:00-04:00,227.619995,227.789993,227.480896,227.539993,227.539993,214003
2024-10-04 09:32:00-04:00,227.544403,227.544403,227.020004,227.179993,227.179993,167601
2024-10-04 09:33:00-04:00,227.199997,227.250000,227.100006,227.119995,227.119995,141216
2024-10-04 09:34:00-04:00,227.115005,227.199997,226.809998,227.039993,227.039993,182831
...,...,...,...,...,...,...
2024-10-04 15:55:00-04:00,226.529999,226.949997,226.520004,226.853500,226.853500,492501
2024-10-04 15:56:00-04:00,226.860001,226.865005,226.702194,226.735001,226.735001,217438
2024-10-04 15:57:00-04:00,226.735001,226.979996,226.735001,226.934998,226.934998,291738
2024-10-04 15:58:00-04:00,226.940002,226.949997,226.789993,226.860001,226.860001,375342
2024-10-04 15:59:00-04:00,226.869995,226.899994,226.470001,226.779999,226.779999,1242909

In [10]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
plt.plot(data['Close'], label='Close Price')
plt.title('Apple Stock Price')
plt.xlabel('Time')
plt.ylabel('Price')
plt.legend()
plt.show()

C:\Users\Dell\AppData\Local\Temp\ipykernel_10268\2855500963.py:9: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()